.container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .idContainer {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #151515;
    box-shadow: 1.5px 1.5px 0px 0px #000;

    color: #505050;
    font-family: Consolas;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .hashRateContainer {
    padding: 6px 8px;

    border-radius: 99px;
    border: 2px solid #000;
    background: #151515;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #505050;
    font-family: Consolas;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .mythic {
    width: fit-content;
    border-radius: 99px;
    border: 2px solid #000;
    background: #37262d;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    padding: 6px 8px;
    color: #ff8aad;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .epic {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #2C263A;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #BA8AFF;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .legendary {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #373228;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #fdd07c;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .uncommon {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #253832;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #92f4c6;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .rare {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #253439;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #8ee3f6;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }

  .common {
    width: fit-content;
    padding: 6px 8px;
    border-radius: 99px;
    border: 2px solid #000;
    background: #2d3031;
    box-shadow: 1.5px 1.5px 0px 0px #000;
    color: #bfc4c5;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.05px;
  }
}
