.container {
  width: 100%;
  height: 40px;

  input {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid #0A090B;
    background: #303030;
    box-shadow: 4px 4px 0px 0px #0A090B;
    font-family: 'ABeeZee', sans-serif;
    padding: 0px 0px 0px 12px;
    outline: none;

    color: #FFF;
    font-family: Consolas;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.05px;
  }
}