.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/assets/csbg.svg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: #171717;

  .loginContainer {
    display: flex;

    .detail {
      width: 200px;
      height: 40px;
      position: absolute;
      transform: rotate(-90deg) translate(-150px, -120px);
      border-radius: 12px 12px 0px 0px;
      background: #bbf209;
      box-shadow: 1.5px 1.5px 0px 0px #000;
      padding: 9px 5px;
      color: #0a090b;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.05px;
      justify-content: center;
      text-align: center;
    }

    .loginBox {
      width: 460px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      border-radius: 30px;
      border: 3px solid #0a090b;
      background: #1d1d1d;
      box-shadow: 10px 10px 0px 0px #000;

      .emailConfirmation {
        color: #bbf209;
      }

      .passConfirmation {
        color: #bbf209;
      }

      .title {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.96px;
      }

      .description {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.18px;
      }

      .loginButton {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        border: 2px solid #0a090b;
        background: #bbf209;
        box-shadow: 4px 4px 0px 0px #000;
        padding: 12px 0px;
        cursor: url("../../../public/spray.png"), pointer;

        &:active {
          box-shadow: 4px 4px 0px 0px #000 inset;
          background: #6f8f07;
        }

        color: #0a090b;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.05px;
      }

      .optionsContainer {
        display: flex;
        justify-content: space-between;

        .rememberMe {
          display: flex;
          align-items: center;
          gap: 5px;

          .text {
            margin-top: -2px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.18px;
          }
        }

        .forgot {
          color: #bbf209;
          font-family: Consolas;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.02px;

          cursor: url("../../../public/spray.png"), pointer;
        }
      }

      .createAccount {
        color: #fff;
        font-family: Consolas;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.13px;

        :is(span) {
          color: #bbf209;
          font-family: Consolas;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.02px;

          cursor: url("../../../public/spray.png"), pointer;
        }
      }
    }
  }

  .socialContainer {
    display: flex;
    gap: 25px;

    .social {
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid #0a090b;
      background: #ff2673;
      box-shadow: 4px 4px 0px 0px #000;
      cursor: url("../../../public/spray.png"), pointer;

      .img {
        cursor: url("../../../public/spray.png"), pointer;
      }

      &:active {
        box-shadow: 4px 4px 0px 0px #000 inset;
        background: #85153c;
      }
    }
  }

  .rightsContainer {
    display: flex;
    gap: 20px;

    .option {
      cursor: url("../../../public/spray.png"), pointer;
    }

    :is(span) {
      color: rgba(255, 255, 255, 0.1);
    }
  }
}