.container {
  width: 300px;
  height: calc(100vh - 120px);
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 30px;
    border: 3px solid #000;
    background: #1D1D1D;
    box-shadow: 10px 10px 0px 0px #000;
    transition: margin-left 0.3s ease-in-out;

    .logo {
      padding: 20px;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      color: #000;
      font-family: Consolas;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.05px;
      
      .option {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 2px solid #000;
        background: #BBF209;
        box-shadow: 4px 4px 0px 0px #000;
        //cursor: url('../../../public/spray.png'), pointer;
        color: black;

        transition: 0.4s;

        &:hover {
          filter: brightness(0.75);
        }
      }

      .comingOption {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 2px solid #000;
        background: #505050;
        box-shadow: 4px 4px 0px 0px #000;
        background-image: url('../../../public/assets/comingsoonstrip.png');
        background-size: 100%;
        background-position-x: 100px;
        background-position-y: -20px;
        background-repeat: no-repeat;
        color: black;

        transition: 0.4s;

        &:hover {
          filter: brightness(0.75);
        }
      }

      .activeOption {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 2px solid #000;
        background: #FF2673;
        box-shadow: 4px 4px 0px 0px #000;
        color: black;

        transition: 0.4s;

        &:hover {
          filter: brightness(0.75);
        }
      }
    }

    .exit {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .option {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 2px solid #000;
        background: #BBF209;
        box-shadow: 4px 4px 0px 0px #000;
        //cursor: url('../../../public/spray.png'), pointer;
        color: black;

        font-family: Consolas;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.05px;

        transition: 0.4s;

        &:hover {
          filter: brightness(0.75);
        }
      }
    }
  }

  .hide {
    transform: translateY(50px);
    transition: transform 0.3s ease-in-out;

    transition: 0.4s;

    &:hover {
      filter: brightness(0.75);
    }

    /* .img {
      cursor: url('../../../public/spray.png'), pointer;
    } */
  }

  &.sidebar-closed {
    position: fixed;

    .content {
      margin-left: -370px;
    }
    
    .hide {
      margin-left: 10px;
    }
  }
}
